* {
	margin: 0;
	padding: 0;
}
body {
	font-size: 12px;
	background: #666;
}
ul {
	list-style: none;
}
img {
	vertical-align: bottom;
}
a{
	text-decoration: none;
}
#box {
	position: relative;
	margin: 30px auto 0;
	width: 730px;
	height: 454px;
}
#flash-list li {
	position: absolute;
	 display: none; 
	opacity: 0;
	filter: alpha(opacity=0);
}
#flash-list .active {
	display: block;
	opacity: 1;
	filter: alpha(opacity=100);
}
#flash-btn {
	position: absolute;
	left: 0;
	bottom: 10px;
	width: 100%;
	text-align: center;
}
#flash-btn a{
	display: inline-block;
	margin: 0 4px;
	width: 18px;
	line-height: 18px;
	text-align: center;
	color: #fff;
	background: #3e3e3e;
	border-radius: 50%;
	font-family: 'Microsoft Yahei';
}
#flash-btn .active{
	background: #b61b1f;
}
#direction-btn {
	display: none;
}
#direction-btn a{
	position: absolute;
	top: 50%;
	margin-top: -31px;
	width: 28px;
	height: 62px;
	text-align: center;
	line-height: 62px;
	color: #fff;
	font-size: 24px;
	background: rgba(0, 0, 0, .3);
}
#right-btn {
	right: 0;
}